// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #299C94;
$gray: #7a7a7a;
$light-gray: #F4F4F4;
$feignt-gray: #DDDDDD;
