// Specific CSS for your home-page
.home-form {
  display: flex;
  padding: 0 100px;
}

 .home-form-child {
  flex: 0 1 auto;
  margin: 0px 5px;
 }

.inspiration {
  display: flex;
   h1 {
    color: $green;
    }
    margin-bottom: 30px;
}

.popular-items {
  text-align: center;
}

.recent-transactions {
  text-align: center;
}

.popular-items-card {
  border: 1px solid #e4e4e4;
  margin: 10px;
  width: 300px;
  h3 {
    color: $green;
  }
}

.transaction-card {
  position: relative;
  border: 1px solid #e4e4e4;
  margin: 9px;
  padding: 0 10px;
  padding-left: 120px;
  min-height: 180px;
  h4 {
    color: $green;
    margin-right: 20px;
  }
  p {
    margin-right: 20px;
  }
}

.avatar-person {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 80px;
  height: 80px;
  z-index: 1;
  border-radius: 50%;
}

.avatar-item {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.card-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}
