.message-bubble {
  background-color: rgb(0, 160, 148);
  border-radius: 30px;
  padding: 10px;
  margin: 11px;
  color: white;
  display: flex;
}

.flex {
  display: flex;
  align-items: center;
}

.right-side {
  justify-content: flex-end;
}

.left-side .message-bubble {
  background-color: #DCDCDC;
  color: black;
}


.avatar-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.messages {
  width: 95%;
}

.chat-input {
  margin: 10px;
}

.chat-btn {
  width: 190px;
  height: 100%;
  padding: 20px;
  margin: 0 10px;
  border: none;
  border-radius: 30px;
}

#real-messages-container {
  overflow: scroll;
  padding: 25px;
  height: 70vh;
  width: 819px;
}


.container-messages {
  max-width: 1020px;
  padding: 20px 0;
  position: relative;
  display: flex;
  margin: 0 auto;
}

.pending-request {
  width: 70%;
  text-align: center;
  padding: 10px 30px;
  border: 1px solid #e4e4e4;
}

.accept-decline-button {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.borrower-card {
  border: 1px solid #e4e4e4;
  padding: 15px;
  margin: 10px;
}

.message-bubble {
  max-width:250px;
  p {
    word-wrap: break-word;
    width: 100%;
  }
}

.message-body p {
  word-wrap: break-word;
  width: 600px;
}
