 .payment-btn {
  padding-left: 580px;
  padding-bottom: 20px;
  }

.table {
  padding-left: 450px;
}

//  button {
//   background-color: $green !important;
//   background-image: none !important;
// }
