 .payment-btn {
  padding-left: 580px;
  padding-bottom: 17px;
  }

.table {
  padding-left: 450px;
}

.message-payment {
  font-style: italic;
  color: red;
  margin-top: 0;
  padding-bottom: 20px;
  padding-left: 425px;
}

//  button {
//   background-color: $green !important;
//   background-image: none !important;
// }
