// // -------- Request Form --------
.request-form {
    position: absolute;
    padding: 16px 30px !important;
    text-align: center;
    width: 350px;
    border-radius: 2px;
    border: 1px solid #e4e4e4;
    position: sticky;
    height: 470px;
    z-index: 2;
    padding: 15px 0;
    right: 0;
    top: 120px;
    margin: 10px;
}

.description, .condition {
  padding: 5px 0;
}

.price-per-day {
  vertical-align: bottom;
  text-align: left;
  h3 {
    color: $green;
    margin: 0;
  }
}

.stars {
  padding: 10px 0 15px 0;
  text-align: left;
  font-size: 10px;
}

.border-bottom {
  border-bottom: 1px solid #e4e4e4;
}

#request-button {
  margin: 10px;
}

#daterangepicker-requestform {
  margin: 15px 0 10px 0;
}

// -------- Others --------

#show-map{
  background-color: $light-gray;
  border-radius: 2px;
}

.margin-bottom {
  margin-bottom: 10px !important;
}

.owner_card {
  width: 100%;
  margin: 0 0 25px 0;
  padding: 15px;
  border-radius: 2px;
}

.product-photos {
  padding: 10px 0 20px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 2px;
    width: 100%;
    height: 300px;
    object-fit: contain;
    object-position: center;
    background-color: #F1F1F1;
    padding: 10px;
  }
}

.product-description {
  min-width: 300px;
  min-height: 300px;
  margin-left: 10px;
  p {
    margin: 0;
  }
}

.owner_card {
  background-position: center;
  position: relative;
  padding: 0 0 0 75px;
  p {
    margin: 0px;
  }
}

.profile-text {
  font-size: 15px;
}

.owner_card_photo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
  border-radius: 50%;
}

.own-product {
  color: red;
  margin: 5px 10px 0px 10px;
}

.review:first-child {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

.price-split{
  display:flex;
  justify-content: space-between;
  padding: 10px 0;
}

.distance {
  margin: 6px;
}

p {
  margin: 10px 0;
}

.yellow-stars {
  color: #F5AE3D;
}

.inline {
  font-size: 17px;
  color: #484848;
}

.container-show {
  max-width: 1020px;
  padding: 20px 0;
  position: relative;
  display: flex;
  margin: 0 auto;
}

.product-info {
  width: 70%;
}
