.container-show-user {
  max-width: 1020px;
  padding: 20px 0;
  position: relative;
  margin: 0 auto;
}

.add-new {
  width: 50%;
}

.title-container {
  padding: 0 15px;
  display: flex;
  h3, a {
    flex: 1 0 auto;
  }
}

#profile_photo {
  height: 250px;
  width: 250px;
}

.profile-photo {
  text-align: center;
}

.profile-page {
  padding-top: 20px;
}

.profile-left {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-requests {
  display: flex;
  align-items: left;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.section-user-profile {
  padding-bottom: 50px;
  padding-top: 25px;
  border-bottom: 1px solid #e4e4e4;
}

.request-button-profile {
  justify-content: space-around;
  margin: 10px;
}
