<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/618848/pexels-photo-618848.jpeg');">
   <div class="banner-content">
     <h1>Don't buy it, don't miss it!</h1>
     <h1>Get it on got it!
     <p>Borrow things when and where you need them</p>

    <%= form_tag products_path, class: 'home-form', id: 'product-search', :method => 'get' do %>
        <%= text_field_tag :search, params[:search], class: "form-control home-form-child", placeholder: 'Borrow something...' %>
        <%= submit_tag "Search", :name => nil, class: 'btn btn-primary home-form-child'%>
    <% end %>
   </div>
 </div>

<div class="container inspiration">
  <div class="container recent-transactions">
    <h1>Recent transactions</h1>
    <%# image_path "Transaction1", class: "fit-image" %>
    <img src="../../assets/images/Transaction1.png" alt="">
    <%# image_path "Transaction2", class: "fit-image" %>
    <img src="../../assets/images/Transaction2.png" alt="">
    <%# image_path "Transaction3", class: "fit-image" %>
    <img src="../../assets/images/Transaction3.png" alt="">
  </div>
  <div class="contianer popular-items">
    <h1>Popular items</h1>
    <%# image_path "Popular_items_1", class: "fit-image" %>
    <img src="../../assets/images/Popular_items_1.png" alt="">
    <%# image_path "Popular_items_2", class: "fit-image" %>
    <img src="../../assets/images/Popular_items_2.png" alt="">
  </div>
</div>
