<h1>GOT IT</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h4>TEST TEST</h4>

<h4><%= link_to "see all products", products_path, class: 'btn btn-primary'%></h4>


<%= link_to "logout", destroy_user_session_path, method: :delete %>
