<div class="navbar-got-it">
  <!-- Logo -->
  <a href="/" class="navbar-got-it-brand">
    <img src="images/Rocket.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-got-it-right hidden-xs hidden-sm">

<!--     <a href="" class="navbar-got-it-item navbar-got-it-link">Host</a>
    <a href="" class="navbar-got-it-item navbar-wagon-link">Trips</a> -->
    <a href="" class="navbar-got-it-item navbar-got-it-link">FAQ</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-got-it-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-got-it-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-got-it-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-got-it-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-got-it-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/618848/pexels-photo-618848.jpeg');">
   <div class="banner-content">
     <h1>Don't buy it, don't miss it!</h1>
     <h1>Get it on got it!
     <p>Borrow things when and where you need them</p>

   </div>
 </div>

<h1>GOT IT</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h4>TEST TEST</h4>

<h4><%= link_to "see all products", products_path, class: 'btn btn-primary'%></h4>


<%= link_to "logout", destroy_user_session_path, method: :delete %>
