/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  position: fixed;
  color: white;
  left: 50%;
  top: 6px;
  z-index: 100;
  transform: translateX(-50%);
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
