.card {
  background-size: cover;
  height: 250px;
  border-radius: 1px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 18px;
  font-weight: bolder;
  padding: 0;
  position:relative;
}

.card-body {
  height: 100%;
  background-position: center;
  background-size: cover;
  img {
    height: 100%;
    width: 100%;
  }
}

.row {
  width: 100%;
  margin: 0;
}

.footer-container {
  display: flex;
  justify-items: space-between;
  align-items: center;
  position: relative;
  .footer-row {
    flex: 1 0 auto;
  }
  .price-per-day {
    flex: 0 0 auto;
    position: absolute;
    right: 0px;
  }
}
.cards-container{
  width: 60%;
  padding: 20px;
}

.card-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: $light-gray;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border-top: 1px solid $feignt-gray;
  span {
    flex: 0 0 auto;
    font-weight: bold;
  }
}

.description {
  font-weight: bold;
  font-size: 1em;
}

.price {
  font-size: 1.5em;
  color: $green;
}

.link-to-product {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2px;
}

.gold-star {
  color: $yellow;
}

.price-container {
  vertical-align: middle;
}

#map {
  display: block;
}

@media (max-width: 640px)
{
  #map
  {
    display: none;
  }
}

#searchBox {
  padding: 0;
  border-color: $gray;
  input {
    border: none;
  }
  span, div {
    display: none;
  }
}

.form-container{
  display: flex;
  justify-items: space-between;
  input {
    flex: 1 0 auto;
  }
}

.over-search{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0px 10px;
  text-align: center;
  vertical-align: middle;
}

.btn-search-bundle{
  position: relative;
  width: 100%;

}

.relative {
  position: relative;
}
