.card {
  background-size: cover;
  height: 300px;
  border-radius: 2px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 18px;
  font-weight: bolder;
  padding: 0;
  position:relative;
  &:hover{
    opacity: 0.8;
  }
}

.card-avatar{
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  background-color: $light-gray;
  background-image: cover;
}

.photo{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $feignt-gray;
  // border: 1px solid $feignt-gray;
  height: 220px;
  width: 100%;

}

.card-body {
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  img {
    height: 100%;
    width: 100%;
  }
}

.row {
  width: 100%;
  margin: 0;
}

.footer-container {
  display: flex;
  justify-items: space-between;
  align-items: center;
  position: relative;
  .footer-row {
    flex: 1 0 auto;
  }
  .price-per-day {
    flex: 0 0 auto;
    position: absolute;
    right: 0px;
  }
}
.cards-container{
  width: 60%;
  padding: 20px;
}

.card-footer {
  position: absolute;
  height: 80px;
  bottom: 0px;
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border-top: 1px solid $feignt-gray;
  span {
    flex: 0 0 auto;
    font-weight: bold;
  }
}

.description {
  max-width: 100%;
  padding: 10px 0px;
  font-family: arial;
  font-weight: bold;
  font-size: 1.5em;
  color: $gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stars-distance-container{
  display:flex;
  justify-content: space-between;
  span {
    flex: 0 0 auto;
    color: $gray;
  }
}

.distance, .stars {
  font-family: arial;
  font-weight: lighter;
  font-size: 1em;
  color: $gray;
}

.price {
  font-size: 2em;
  color: $green;
}

.link-to-product {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2px;
}

.gold-star {
  color: $yellow;
}

.price-container {
  vertical-align: middle;
}

#map {
  display: block;
  padding-right: 35px;
  position: relative;
}

@media (max-width: 640px)
{
  #map
  {
    display: none;
  }
}

#searchBox {
  padding: 0;
  border: 1px solid $gray;
  input {
    border: none;
  }
  span, div {
    display: none;
  }
}

.form-container{
  display: flex;
  justify-items: space-between;
  input {
    flex: 1 0 auto;
  }
}

.over-search{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0px 10px;
  text-align: center;
  vertical-align: middle;
}

.btn-search-bundle{
  position: relative;
  width: 100%;

}

.relative {
  position: relative;
}

.black {
  color: $charcoal;
}
