.card {
  border-radius: 2px;
  margin: 15px 0;
  font-size: 18px;
  font-weight: bolder;
  padding: 0;
  position:relative;
  border: 1px solid #e4e4e4;
  &:hover{
    opacity: 0.8;
  }
}

.card-avatar{
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 1px solid #e4e4e4;
  background-size: cover;
}

.photo{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $feignt-gray;
  border-radius: 2px;
  height: 270px;
  width: 100%;
}

.row {
  width: 100%;
  margin: 0;
}

.footer-container {
  display: flex;
  justify-items: space-between;
  align-items: center;
  position: relative;
  .footer-row {
    flex: 1 0 auto;
  }
}



.cards-container{
  width: 60%;
  padding: 20px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-top: 1px solid #e4e4e4;
  padding: 10px;
  .price-per-day {
    font-size: 20px;
    line-height: 24px;
    span {
      font-size: 14px;
      color: #484848;
      font-weight: lighter;
    }
  }
}

.name {
  max-width: 100%;
  margin: 6px;
  font-family: arial;
  color: #484848;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
}

.distance, .rating {
  font-size: 14px;
  color: #888;
  font-weight: lighter;
}

.price {
  font-size: 1.5em;
  color: $green;
  margin: 6px;
}

a.link-to-product {
  text-decoration: none;
}

.review-stars {
  margin: 6px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

}

.gold-star {
  color: $yellow;
  font-size: 15px;
}

.price-container {
  vertical-align: middle;
}

#map {
  display: block;
  padding-right: 35px;
  position: relative;
}

@media (max-width: 640px)
{
  #map
  {
    display: none;
  }
}

#searchBox {
  padding: 0;
  border: 1px solid $gray;
  input {
    border: none;
  }
  span, div {
    display: none;
  }
}

.form-container{
  display: flex;
  justify-items: space-between;
  input {
    flex: 1 0 auto;
  }
}

.over-search{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0px 10px;
  text-align: center;
  vertical-align: middle;
}

.btn-search-bundle{
  position: relative;
  width: 100%;

}

.relative {
  position: relative;
}

.black {
  color: $charcoal;
}
