<div class="content">
    <div class="cards-container">
      <div class="row" id='card-row'>
        <div class="col-xs-12">
          <div id="searchBox" class="form-control" placeholder='Borrow something...'></div>
          <h1 id='counter'><%= @products.count %> Search results in your area...</h1>
        </div>
        <div id="hits"></div>
        <!-- JS cards from app/javascrpit/packs/algolia are built here -->
      </div>
    </div>
    <div id="map"></div>
</div>



<!--   ************** JS for the MAP and Algolia ***************-->

<% content_for(:after_js) do %>
  <%= javascript_pack_tag 'algolia' %>
<% end %>






