<div class="wrapper">
  <div class="content">
    <div class="cards-container">
      <div class="row" id='card-row'>
        <div class="col-xs-4">
          <!-- <div id="searchBox" class="form-control" placeholder='Borrow something...'> -->
            <input type="text" placeholder="What do you need?" class="form-control" id="searchBoxElement">
          <!-- </div> -->
        </div>
        <div class="col-xs-4">
          <div class="form-container">
            <div class="btn-search-bundle">
              <input id="searchDistance" class="form-control relative" placeholder='enter a range in kilometers...'>
              <div class="btn btn-primary over-search" id='distance-over-search'>within 5km...</div>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="btn-search-bundle">
            <input id="addressSearch" class="form-control relative" placeholder='enter an town or postcode...'>
            <div class="btn btn-primary over-search" id='address-over-search'>of your location...</div>
          </div>
        </div>
        <div class="col-xs-12">
          <h6 id='counter'> . </h6>
        </div>
        <div id="hits"></div>
        <!-- JS cards from app/javascrpit/packs/algolia are built here -->
      </div>
    </div>
    <div id="map"></div>
  </div>
</div>




<!--   ************** JS for the MAP and Algolia ***************-->

<% content_for(:after_js) do %>
  <%= javascript_pack_tag 'algolia' %>
<% end %>






