<h1>product show page</h1>

<!-- To list everything, and to check controller and to figure out how everything will look, and to figure out how to test everything -->

<h3><%= @product.name %></h3>

<p><%= @product.description %></p>

<p><%= @product.user.name %></p>

<!-- uh, two more files to figure out -->
<!-- app/views/articles/show.html.erb -->
<%= cl_image_tag @article.photo, height: 300, width: 400, crop: :fill %>


