<<<<<<< HEAD
<strong><p><%= review.user.email %></p></strong>
<p><%= review.content %></p>
=======
<p><%= review.content %> - <strong><%= review.user.email %></strong></p>
>>>>>>> e9c2936c9f018fa2d134d184ae19c0ba6fff461c
