<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Leave a review for <%= @product.name %></h2>
      <%= render "form", product: @product, review: @review %>
    </div>
  </div>
</div>

